# Dependencias
node_modules/
package-lock.json
yarn.lock

# Build
dist/
*.tsbuildinfo

# Entorno
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

mini-grua-firebase-adminsdk-fbsvc-27c66e33f8.json
